@use './../mixins' as *;

.btn {
  --width: fit-content;
  --height: 56px;
  --padding-x: 35px;
  --padding-y: 10px;
  --button-color: var(--white);
  --button-background: var(--accent);

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  padding: var(--padding-y) var(--padding-x);
  transition: all 0.3s ease;
  border-radius: 36px;
  background: var(--button-background);

  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--button-color);
  white-space: nowrap;
  pointer-events: all;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}