@use './../mixins' as *;

.service {

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    @include lg {
      gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;
    width: calc(50% - 30px);
    background-color: #f1f1f180;
    border-radius: 10px;
    padding: 34px;
    transition: all 0.5s ease;
    color: var(--black);

    @include lg {
      width: 100%;
    }

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 6px;
      position: relative;
      background-color: var(--white);

      &::before {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        background-color: var(--accent);
        position: absolute;
        bottom: -2.5px;
      }

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-wrap {
      font-size: 20px;
      line-height: 150%;
    }
  }
}