@font-face {
  font-family: 'LeaderIcons';
  src:  url('./fonts/LeaderIcons.eot?mfklsg');
  src:  url('./fonts/LeaderIcons.eot?mfklsg#iefix') format('embedded-opentype'),
    url('./fonts/LeaderIcons.ttf?mfklsg') format('truetype'),
    url('./fonts/LeaderIcons.woff?mfklsg') format('woff'),
    url('./fonts/LeaderIcons.svg?mfklsg#LeaderIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LeaderIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e911";
}
.icon-arrow-slider:before {
  content: "\e912";
}
.icon-arrow-slider-next:before {
  content: "\e913";
}
.icon-arrow-slider-prev:before {
  content: "\e914";
}
.icon-chevron:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e916";
}
.icon-play:before {
  content: "\e918";
}
.icon-pochta:before {
  content: "\e919";
}
.icon-strelka:before {
  content: "\e91a";
}
.icon-telegram:before {
  content: "\e91b";
}
.icon-telegram-disc .path1:before {
  content: "\e91c";
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.icon-telegram-disc .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(22, 22, 22);
  transition: all 0.3s ease;
}
.icon-whatsapp:before {
  content: "\e91e";
}
.icon-whatsapp-disc .path1:before {
  content: "\e91f";
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.icon-whatsapp-disc .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(22, 22, 22);
  transition: all 0.3s ease;
}
.icon-advan-1:before {
  content: "\e900";
}
.icon-advan-2:before {
  content: "\e901";
}
.icon-advan-3:before {
  content: "\e902";
}
.icon-advan-4:before {
  content: "\e903";
}
.icon-advan-5:before {
  content: "\e904";
}
.icon-services-1:before {
  content: "\e905";
}
.icon-services-2:before {
  content: "\e906";
}
.icon-services-3:before {
  content: "\e907";
}
.icon-services-4:before {
  content: "\e908";
}
.icon-services-5:before {
  content: "\e909";
}
.icon-services-6:before {
  content: "\e90a";
}
.icon-services-7:before {
  content: "\e90b";
}
.icon-services-8:before {
  content: "\e90c";
}
.icon-services-9:before {
  content: "\e90d";
}
.icon-services-10:before {
  content: "\e90e";
}
.icon-services-11:before {
  content: "\e90f";
}
.icon-services-12:before {
  content: "\e910";
}
