@use './../mixins' as *;

.footer {
  padding: 60px 0;
  background-color: var(--black);
  color: var(--white);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__map {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;

    @include md {
      display: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    @include md {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-align: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 260px;

    &-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }

    &-title {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }

    &-email {
      color: rgba(255, 255, 252, 0.6);
    }
  }

  &__phone {
    h6 {
      font-size: 24px;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid rgba(255, 255, 252, 0.1);

      &:hover {

        svg {
          fill: rgba(255, 255, 252, 1);
        }
      }

      svg {
        width: 18px;
        height: 18px;
        fill: rgba(255, 255, 252, 0.3);
        transition: all 0.3s ease;
      }
    }
  }

  &__foot {
    border-top: 1px solid rgba(255, 255, 252, 0.1);
    padding: 40px 0 0;
  }
}