@use './../mixins' as *;

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include lg {
    flex-direction: column;
    gap: 10px;
  }

  @include md {
    flex-direction: row;
  }

  img {
    height: 80px;
    object-fit: contain;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--gray);
  }
}