@use './../mixins' as *;

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background-color: var(--page-bg);

  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: var(--header-height);
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  padding: 7rem 0 6rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  transition: all 0.3s ease;

  &:hover {
    color: var(--accent);
  }
}

button {
  transition: all 0.3s ease;
}