@use './../mixins' as *;

:root {
  --font-family: "Roboto", sans-serif;

  --container-padding: 16px;
  --container-width: 1288px;

  --white: #fffffc;
  --black: #1b1e1f;
  --gray: #fffffccc;
  --accent: #f50400;

  --page-bg: #ffffff;

  --header-height: 120px;

  @include xl {
    --container-padding: 14px;
    --container-width: 1152px;
  }

  @include lg {
    --container-padding: 24px;
    --container-width: 912px;
  }

  @include sm {
    --container-padding: 12px;
    --container-width: 576px;
  }
}