@use './../mixins' as *;

:root {
  --font-family: "Roboto", sans-serif;

  --container-padding: 16px;
  --container-width: 1288px;

  --white: rgb(255, 255, 252);
  --black: rgb(27, 30, 31);
  --gray: #fffffccc;
  --accent: rgb(245, 4, 0);

  --page-bg: rgb(255, 255, 255);

  --header-height: 120px;

  @include xl {
    --container-padding: 14px;
    --container-width: 1152px;
  }

  @include lg {
    --container-padding: 24px;
    --container-width: 912px;
    --header-height: 160px;
  }

  @include sm {
    --container-padding: 12px;
    --container-width: 576px;
  }
}